.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #007bff;
    color: white;
    text-align: center;
}

.header {
    padding: 20px;
    text-align: center;
    background: #007bff;
    color: white;
    font-size: 30px;
}

.container {
    /* remember to set a width */
    margin-right: auto;
    margin-left: auto;
    padding-top: 20px;
}

table {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
th {
    border: 1px solid black;
    height: auto;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

tr {
    border: 1px solid black;
    height: auto;
    margin-right: auto;
    margin-left: auto;
}

.scrollToTop{
    width:100px; 
    height:130px;
    padding:10px; 
    text-align:center; 
    background: whiteSmoke;
    font-weight: bold;
    color: #444;
    text-decoration: none;
    position:absolute;
    right: 0;
    display:none;
    background: url('scrollup.jpg') no-repeat 0px 20px;
}
.scrollToTop:hover{
    text-decoration:none;
}
